# Debug Settings
# Cambiar a 'False' en producción
DEBUG=True
SECRET_KEY=<django-secret-key>

# Database Configuration (PostgreSQL)
DB_NAME=<postgres-database-name>
DB_USER=<postgres-username>
DB_PASSWORD=<postgres-password>
DB_HOST=<postgres-host>
DB_PORT=<postgres-port>

# Host Settings
ALLOWED_HOSTS=localhost,127.0.0.1,sisfact-demo-4447cad852f6.herokuapp.com
CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
SECURE_REFERRER_POLICY=same-origin
SECURE_CONTENT_TYPE_NOSNIFF=True
SECURE_BROWSER_XSS_FILTER=True

# Monitoring / Observability
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.0

# Email configuration
EMAIL_HOST=<smtp-host>
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=<zeptomail-username>
EMAIL_HOST_PASSWORD=<zeptomail-password>
DEFAULT_FROM_EMAIL=<from-email@example.com>
