 <footer class="footer">
    <!--
                    <div class="footer-block buttons">
                        <iframe class="footer-github-btn" src="https://ghbtns.com/github-btn.html?user=modularcode&repo=modular-admin-html&type=star&count=true" frameborder="0" scrolling="0" width="140px" height="20px"></iframe>
                    </div>
    -->
                    <div class="footer-block author">
                        <ul>
                            <li> Creado por
                                <a href="#">ALP SOLUCIONES & SERVICIOS C.A.</a>
                            </li>
                        
                            <li>
                                <a href="http://www.alpca.ec" target="_blank">www.alpca.ec</a> 
                            </li>
                        
                        </ul>
                    </div>
                </footer>